Import the pandas library and load in the data file
---

In [1]:
import pandas as pd

demo = pd.read_csv('Demographics.csv')

Look at the data types of different columns
---

In [2]:
demo.loc[:,['SEQN','RIDAGEYR','RIAGENDR','DMQMILIT', 'DMDCITZN']].dtypes

SEQN          int64
RIDAGEYR    float64
RIAGENDR     object
DMQMILIT     object
DMDCITZN     object
dtype: object

Find unique entries for Military/Veteran Status
---

According to the [Demographics Codebook](https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/DEMO.htm) there should be 5 unique entries:
  * Yes
  * No
  * Don't know
  * Refused
  * Missing (NaN)

In [3]:
print(len(demo['DMQMILIT'].unique()))
print(demo['DMQMILIT'].unique())

38
[nan 'Y' 'Yes' '  No' ' No' 'N' 'No' 'No  ' ' Y' 'N ' 'Yes ' '  N' 'No '
 'N  ' ' Yes' 'Y ' ' N' '  N ' 'Y  ' '  Yes' '  No  ' 'Yes  ' "Don't know"
 '  Y' ' N  ' ' No ' ' No  ' '  N  ' 'Refused' '  No ' '  Yes  '
 "Don't know " ' Yes ' ' N ' '  Yes ' ' Yes  ' 'Refused ' " Don't know"]

Remove excess whitespace
---

In [4]:
demo.loc[:,'DMQMILIT'] = demo.loc[:,'DMQMILIT'].str.strip()

print(len(demo['DMQMILIT'].unique()))
print(demo['DMQMILIT'].unique())

7
[nan 'Y' 'Yes' 'No' 'N' "Don't know" 'Refused']

Change Y and N to Yes and No
---

Use the `replace()` method to change 'Y' and 'N' to 'Yes' and 'No'

* `replace_dict` - specifies how to replace the data
  - Outer dictionary: key is column name, value is dictionary of replacements (inner dictionary)
  - Inner dictionary: key is the value to be replaced, value is what to replace all instances of the key with

In [5]:
replace_dict = {'DMQMILIT': {
                              'Y':'Yes', 
                              'N':'No'
                            }
               }

demo.replace(replace_dict, inplace=True)

print(len(demo['DMQMILIT'].unique()))
print(demo['DMQMILIT'].unique())

5
[nan 'Yes' 'No' "Don't know" 'Refused']

Find unique entries for Citizenship Status
---

According to the [Demographics Codebook](https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/DEMO.htm) there should be 5 unique entries:
  * Citizen by birth or naturalization
  * Not a citizen of the US
  * Refused
  * Don't know
  * Missing (NaN)

In [6]:
print(len(demo['DMDCITZN'].unique()))
print(demo['DMDCITZN'].unique())

31
['Citizen by birth or naturalization' 'Not a citizen of the US'
 '  Citizen by birth or naturalization'
 ' Citizen by birth or naturalization'
 'Citizen by birth or naturalization '
 'Citizen by birth or naturalization  ' ' Not a citizen of the US'
 'Not a citizen of the US ' 'Not a citizen of the US  ' 'Refused'
 " Don't know" '  Not a citizen of the US'
 '  Citizen by birth or naturalization '
 ' Citizen by birth or naturalization  '
 ' Citizen by birth or naturalization ' 'Unknown' "Don't know"
 ' Dont know' ' Not a citizen of the US '
 '  Citizen by birth or naturalization  ' ' Not a citizen of the US  ' nan
 '  Refused' 'Unknown  ' '  Not a citizen of the US ' 'Dont know'
 ' Refused' "  Don't know " "Don't Know" "  Don't know" "Don't know  "]

Remove excess whitespace
---

In [7]:
demo.loc[:,'DMDCITZN'] = demo.loc[:,'DMDCITZN'].str.strip()

print(len(demo['DMDCITZN'].unique()))
print(demo['DMDCITZN'].unique())

8
['Citizen by birth or naturalization' 'Not a citizen of the US' 'Refused'
 "Don't know" 'Unknown' 'Dont know' nan "Don't Know"]

Replace misspellings
---

Three values should be replaced with "Don't know"
  * "Dont know"
  * "Don't Know"
  * "Unknown"

In [8]:
replace_dict = {'DMDCITZN': {
                              "Dont know":"Don't know", 
                              "Don't Know":"Don't know",
                              "Unknown":"Don't know"
                            }
               }

demo.replace(replace_dict, inplace=True)

print(len(demo['DMDCITZN'].unique()))
print(demo['DMDCITZN'].unique())

5
['Citizen by birth or naturalization' 'Not a citizen of the US' 'Refused'
 "Don't know" nan]

Replace both columns at once
---

In [ ]:
replace_dict = {'DMQMILIT': {
                              'Y':'Yes', 
                              'N':'No'
                            },
                'DMDCITZN': {
                              "Dont know":"Don't know", 
                              "Don't Know":"Don't know",
                              "Unknown":"Don't know"
                            }
               }

demo.replace(replace_dict, inplace=True)

Individual Practice
---

1. Find all of the columns in the demographics file that contain string data. 
2. Get rid of all excess whitespace.
3. Make sure all text entries match the text options in the [demographics codebook](https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/DEMO.htm).

In [9]:
print(len(demo['RIAGENDR'].unique()))
print(demo['RIAGENDR'].unique())

36
['Female' 'Male' 'F  ' 'M' 'F' '  Female' 'M  ' 'F ' ' M' 'Male ' ' F'
 ' Female' '  Male' ' Male' '  F' 'Male  ' 'M ' 'Female ' 'Female  ' '  M'
 '  M  ' ' Female ' ' M  ' ' Male ' '  F ' '  Male ' '  Female  '
 ' Female  ' ' M ' ' F ' '  Female ' '  M ' ' Male  ' '  Male  ' ' F  '
 nan]

In [10]:
demo.loc[:,'RIAGENDR'] = demo.loc[:,'RIAGENDR'].str.strip()

In [11]:
print(len(demo['RIAGENDR'].unique()))
print(demo['RIAGENDR'].unique())

5
['Female' 'Male' 'F' 'M' nan]

In [12]:
replace_dict = {'RIAGENDR': {
                              "F":"Female", 
                              "M":"Male",
                            }
               }

demo.replace(replace_dict, inplace=True)

print(len(demo['RIAGENDR'].unique()))
print(demo['RIAGENDR'].unique())

3
['Female' 'Male' nan]

In [13]:
typeCol=(demo.dtypes==object)

typeCol.loc[typeCol==True]

RIDSTATR    True
RIAGENDR    True
RIDRETH1    True
DMQMILIT    True
DMDBORN     True
DMDCITZN    True
DMDYRSUS    True
DMDEDUC3    True
DMDEDUC2    True
DMDSCHOL    True
DMDMARTL    True
dtype: bool

In [14]:
print(len(demo['RIDSTATR'].unique()))
print(demo['RIDSTATR'].unique())

71
['Exam  ' 'Both  ' 'Exam' 'Both' 'Both ' ' Exam ' '  Both' 'exam'
 'Both Interviewed and MEC examined' ' Both Interviewed and MCE examined'
 'Interview Only' ' Both' nan ' exam' '  Exam' ' Both ' 'Only Interview  '
 'Interviewed Only' 'Only Interview ' 'Interview  ' 'exam  '
 ' Both Interviewed and MEC examined' 'exam ' 'interview' ' Both  '
 'Only Interview' 'Interview' 'Both Interviewed and MEC examined  '
 '  Both Interviewed and MEC examined' 'Interview Only '
 '  Interview Only' 'Both Interviewed and MEC examined ' ' Exam'
 'Both Interviewed and MCE examined' ' Both Interviewed and MEC examined '
 ' Only Interview' '  Only Interview ' '  Both  ' '  exam'
 ' Interview Only ' '  Both ' 'Interviewed Only ' ' Interview Only'
 'Both Interviewed and MCE examined  ' '  Interviewed Only' 'Exam '
 'Both Interviewed and MCE examined ' 'Interview ' ' exam  ' '  Exam '
 '  Both Interviewed and MCE examined' ' Interviewed Only'
 '  Only Interview  ' ' Interview' '  Both Interviewed and MEC examined '
 ' exam ' 'interview  ' '  Interview' '  Exam  ' '  Only Interview'
 '  exam ' '  Interview Only ' 'Interview Only  ' 'Interviewed Only  '
 ' Exam  ' ' interview' ' Both Interviewed and MEC examined  '
 ' Interviewed Only  ' '  Both Interviewed and MEC examined  '
 '  interview' ' Interview Only  ']

In [15]:
demo.loc[:,'RIDSTATR'] = demo.loc[:,'RIDSTATR'].str.strip()

In [16]:
print(len(demo['RIDSTATR'].unique()))
print(demo['RIDSTATR'].unique())

11
['Exam' 'Both' 'exam' 'Both Interviewed and MEC examined'
 'Both Interviewed and MCE examined' 'Interview Only' nan 'Only Interview'
 'Interviewed Only' 'Interview' 'interview']

In [19]:
grouped = demo.groupby('RIDSTATR')
grouped.size()

RIDSTATR
Both                                 4856
Both Interviewed and MCE examined     192
Both Interviewed and MEC examined     958
Exam                                 1695
Interview                              99
Interview Only                        354
Interviewed Only                       75
Only Interview                        147
exam                                 1956
interview                              45
dtype: int64

In [20]:
replace_dict = {'RIDSTATR': {
                              "Both Interviewed and MCE examined":"Both Interviewed and MEC examined", 
                              "Both":"Both Interviewed and MEC examined",
                              "Exam":"Both Interviewed and MEC examined",
                              "exam":"Both Interviewed and MEC examined",
                                "Interview":"Interviewed Only",
                                "Interview Only":"Interviewed Only",
                                "Only Interview":"Interviewed Only",
                                "interview":"Interviewed Only"
                            }
               }

demo.replace(replace_dict, inplace=True)

print(len(demo['RIDSTATR'].unique()))
print(demo['RIDSTATR'].unique())

3
['Both Interviewed and MEC examined' 'Interviewed Only' nan]

In [21]:
print(len(demo['RIDRETH1'].unique()))
print(demo['RIDRETH1'].unique())

42
['Non-Hispanic Black' 'Non-Hispanic White' '  Non-Hispanic White'
 'Other Race - Including Multi-Racial' 'Non-Hispanic Black '
 ' Non-Hispanic White' 'Mexican American' '  Mexican American'
 '  Non-Hispanic Black ' '  Other Hispanic' 'Mexican American '
 'Other Hispanic' nan 'Other Race - Including Multi-Racial '
 'Non-Hispanic White ' 'Non-Hispanic White  ' 'Other Hispanic '
 '  Non-Hispanic Black' ' Mexican American' 'Non-Hispanic Black  '
 'Mexican American  ' ' Non-Hispanic Black' ' Non-Hispanic White '
 'Other Race - Including Multi-Racial  ' 'Other Hispanic  '
 ' Non-Hispanic White  ' ' Mexican American ' ' Other Hispanic'
 ' Other Hispanic  ' ' Other Race - Including Multi-Racial'
 '  Mexican American ' ' Non-Hispanic Black ' '  Non-Hispanic White '
 '  Other Race - Including Multi-Racial  ' '  Non-Hispanic White  '
 '  Other Hispanic  ' '  Other Race - Including Multi-Racial'
 ' Non-Hispanic Black  ' '  Non-Hispanic Black  ' ' Mexican American  '
 ' Other Race - Including Multi-Racial '
 ' Other Race - Including Multi-Racial  ']

In [22]:
demo.loc[:,'RIDRETH1'] = demo.loc[:,'RIDRETH1'].str.strip()
print(len(demo['RIDRETH1'].unique()))
print(demo['RIDRETH1'].unique())

6
['Non-Hispanic Black' 'Non-Hispanic White'
 'Other Race - Including Multi-Racial' 'Mexican American' 'Other Hispanic'
 nan]

In [23]:
print(len(demo['DMDBORN'].unique()))
print(demo['DMDBORN'].unique())

28
['Born in 50 US States or Washington, DC' 'Born Elsewhere'
 ' Born in 50 US States or Washington, DC'
 'Born in 50 US States or Washington, DC '
 '  Born in 50 US States or Washington, DC' 'Born in Mexico'
 ' Born in 50 US States or Washington, DC '
 'Born in 50 US States or Washington, DC  ' ' Born Elsewhere'
 ' Born in Mexico' 'Born Elsewhere '
 '  Born in 50 US States or Washington, DC  ' 'Born Elsewhere  '
 '  Born in Mexico' 'Born in Mexico ' '  Born Elsewhere' nan
 ' Born in Mexico  ' 'Born in Mexico  '
 ' Born in 50 US States or Washington, DC  ' 'Refused'
 '  Born in 50 US States or Washington, DC ' ' Born in Mexico '
 '  Born in Mexico  ' ' Born Elsewhere  ' '  Born Elsewhere ' "Don't know"
 ' Born Elsewhere ']

In [24]:
demo.loc[:,'DMDBORN'] = demo.loc[:,'DMDBORN'].str.strip()
print(len(demo['DMDBORN'].unique()))
print(demo['DMDBORN'].unique())

6
['Born in 50 US States or Washington, DC' 'Born Elsewhere'
 'Born in Mexico' nan 'Refused' "Don't know"]

In [25]:
print(len(demo['DMDYRSUS'].unique()))
print(demo['DMDYRSUS'].unique())

72
[nan '1 yr., less than 5 yrs.' '5 yrs., less than 10 yrs.'
 '20 yrs., less than 30 yrs.' '40 yrs., less than 50 yrs. '
 '10 yrs., less than 15 yrs.' '30 yrs., less than 40 yrs.'
 '40 yrs., less than 50 yrs.' '50 years or more'
 '15 yrs., less than 20 yrs. ' ' 5 yrs., less than 10 yrs.'
 'Less than 1 year' '15 yrs., less than 20 yrs.'
 ' 15 yrs., less than 20 yrs.' ' 20 yrs., less than 30 yrs.'
 '  1 yr., less than 5 yrs.' '  40 yrs., less than 50 yrs.' 'Refused'
 ' 1 yr., less than 5 yrs.' '5 yrs., less than 10 yrs. '
 '  30 yrs., less than 40 yrs. ' '1 yr., less than 5 yrs. '
 '  10 yrs., less than 15 yrs.' '  5 yrs., less than 10 yrs.'
 "Don't know  " '30 yrs., less than 40 yrs. ' '1 yr., less than 5 yrs.  '
 '10 yrs., less than 15 yrs. ' 'Less than 1 year '
 '20 yrs., less than 30 yrs.  ' ' 5 yrs., less than 10 yrs. '
 ' Less than 1 year' ' 40 yrs., less than 50 yrs.'
 '  30 yrs., less than 40 yrs.' '  20 yrs., less than 30 yrs.'
 '40 yrs., less than 50 yrs.  ' '  50 years or more' 'Refused  '
 '5 yrs., less than 10 yrs.  ' '  Less than 1 year '
 '15 yrs., less than 20 yrs.  ' " Don't know"
 '  15 yrs., less than 20 yrs.' '  15 yrs., less than 20 yrs. '
 "Don't know" ' 1 yr., less than 5 yrs. ' ' 30 yrs., less than 40 yrs.  '
 'Less than 1 year  ' ' 50 years or more ' ' 30 yrs., less than 40 yrs.'
 '  Less than 1 year' '  20 yrs., less than 30 yrs.  '
 '20 yrs., less than 30 yrs. ' '50 years or more '
 '30 yrs., less than 40 yrs.  ' ' 10 yrs., less than 15 yrs.'
 ' 30 yrs., less than 40 yrs. ' '10 yrs., less than 15 yrs.  '
 '  1 yr., less than 5 yrs.  ' '  5 yrs., less than 10 yrs. ' ' Refused'
 ' 20 yrs., less than 30 yrs. ' ' 5 yrs., less than 10 yrs.  '
 '50 years or more  ' 'Could not determine'
 '  10 yrs., less than 15 yrs.  ' 'Refused ' ' 50 years or more'
 '  50 years or more  ' '  1 yr., less than 5 yrs. '
 '  Less than 1 year  ' '  10 yrs., less than 15 yrs. ']

In [26]:
demo.loc[:,'DMDYRSUS'] = demo.loc[:,'DMDYRSUS'].str.strip()
print(len(demo['DMDYRSUS'].unique()))
print(demo['DMDYRSUS'].unique())

13
[nan '1 yr., less than 5 yrs.' '5 yrs., less than 10 yrs.'
 '20 yrs., less than 30 yrs.' '40 yrs., less than 50 yrs.'
 '10 yrs., less than 15 yrs.' '30 yrs., less than 40 yrs.'
 '50 years or more' '15 yrs., less than 20 yrs.' 'Less than 1 year'
 'Refused' "Don't know" 'Could not determine']

In [27]:
print(len(demo['DMDEDUC3'].unique()))
print(demo['DMDEDUC3'].unique())

117
[nan '3rd Grade' 'More than high school' '5th Grade' '8th Grade  '
 'High School Graduate' '7th Grade' '11th Grade' '1st Grade' '9th Grade'
 '6th Grade' 'Never Attended / Kindergarten Only'
 '  12th Grade, No Diploma' '8th Grade' '  6th Grade'
 '12th Grade, No Diploma' '10th Grade' '4th Grade' '7th Grade '
 '2nd Grade' ' 8th Grade' '1st Grade  ' ' 3rd Grade' ' 6th Grade'
 '5th Grade ' ' 1st Grade ' ' 11th Grade' '1st Grade ' 'GED or Equivalent'
 '9th Grade ' 'Never Attended / Kindergarten Only  ' ' 7th Grade'
 '11th Grade ' '  Never Attended / Kindergarten Only'
 'Less Than 9th Grade' 'More than high school  ' '  More than high school'
 '3rd Grade ' '6th Grade  ' ' 2nd Grade' ' 2nd Grade ' '10th Grade '
 '  8th Grade' '7th Grade  ' '  High School Graduate' '  9th Grade'
 ' High School Graduate' ' 10th Grade' ' 4th Grade'
 'Never Attended / Kindergarten Only ' '  11th Grade' '8th Grade '
 ' 9th Grade' '4th Grade ' '9th Grade  ' ' 5th Grade'
 '  Less Than 5th Grade' ' 1st Grade' '3rd Grade  ' '  4th Grade'
 '  7th Grade' '2nd Grade  ' 'High School Graduate ' '2nd Grade '
 '11th Grade  ' '5th Grade  ' ' 7th Grade  ' ' 9th Grade ' '10th Grade  '
 'Less Than 9th Grade ' ' More than high school' 'High School Graduate  '
 '12th Grade, No Diploma ' '  7th Grade ' ' 10th Grade  ' '  10th Grade'
 ' Refused' '  1st Grade' ' Less Than 9th Grade ' '  5th Grade'
 'More than high school ' '4th Grade  '
 ' Never Attended / Kindergarten Only' ' 4th Grade  ' '  2nd Grade'
 '6th Grade ' ' GED or Equivalent ' ' 3rd Grade ' 'Refused' ' 8th Grade '
 '  Less Than 9th Grade' '  8th Grade ' '  3rd Grade'
 ' 12th Grade, No Diploma' '  GED or Equivalent ' '  11th Grade '
 ' 10th Grade ' ' High School Graduate ' '  2nd Grade '
 'Less Than 9th Grade  ' '  7th Grade  ' '  5th Grade '
 'GED or Equivalent  ' ' More than high school  ' 'Less Than 5th Grade'
 '  6th Grade  ' '  9th Grade ' '12th Grade, No Diploma  ' ' 11th Grade  '
 ' Less Than 9th Grade' ' 6th Grade ' ' 5th Grade  ' ' 4th Grade '
 "Don't know" ' 11th Grade ' ' 9th Grade  ' ' Less Than 5th Grade']

In [28]:
demo.loc[:,'DMDEDUC3'] = demo.loc[:,'DMDEDUC3'].str.strip()
print(len(demo['DMDEDUC3'].unique()))
print(demo['DMDEDUC3'].unique())

21
[nan '3rd Grade' 'More than high school' '5th Grade' '8th Grade'
 'High School Graduate' '7th Grade' '11th Grade' '1st Grade' '9th Grade'
 '6th Grade' 'Never Attended / Kindergarten Only' '12th Grade, No Diploma'
 '10th Grade' '4th Grade' '2nd Grade' 'GED or Equivalent'
 'Less Than 9th Grade' 'Less Than 5th Grade' 'Refused' "Don't know"]

In [30]:
print(len(demo['DMDEDUC2'].unique()))
print(demo['DMDEDUC2'].unique())

49
[nan 'College Graduate or above' 'College Graduate or above  '
 '9-11th Grade (Includes 12th grade with no diploma)'
 'High School Grad/GED or Equivalent' 'Some College or AA degree'
 'Less Than 9th Grade' 'High School Grad/GED or Equivalent '
 ' High School Grad/GED or Equivalent' '  Some College or AA degree'
 '9-11th Grade (Includes 12th grade with no diploma) '
 ' College Graduate or above'
 '  9-11th Grade (Includes 12th grade with no diploma)'
 'Some College or AA degree  ' 'Some College or AA degree '
 ' 9-11th Grade (Includes 12th grade with no diploma) '
 ' 9-11th Grade (Includes 12th grade with no diploma)'
 '  Less Than 9th Grade' '  High School Grad/GED or Equivalent'
 '  9-11th Grade (Includes 12th grade with no diploma)  '
 'High School Grad/GED or Equivalent  ' ' Less Than 9th Grade'
 'Less Than 9th Grade ' ' Some College or AA degree'
 ' Some College or AA degree ' 'College Graduate or above '
 'Less Than 9th Grade  ' "Don't Know" '  College Graduate or above'
 '9-11th Grade (Includes 12th grade with no diploma)  '
 ' High School Grad/GED or Equivalent  '
 '  9-11th Grade (Includes 12th grade with no diploma) '
 '  High School Grad/GED or Equivalent ' 'Refused'
 '  College Graduate or above ' ' High School Grad/GED or Equivalent '
 ' College Graduate or above  ' ' Less Than 9th Grade  ' 'Refused '
 "Don't Know " ' Less Than 9th Grade '
 ' 9-11th Grade (Includes 12th grade with no diploma)  '
 ' College Graduate or above ' '  Less Than 9th Grade  '
 '  College Graduate or above  ' " Don't Know"
 '  Some College or AA degree  ' '  Some College or AA degree '
 ' Some College or AA degree  ']

In [31]:
demo.loc[:,'DMDEDUC2'] = demo.loc[:,'DMDEDUC2'].str.strip()
print(len(demo['DMDEDUC2'].unique()))
print(demo['DMDEDUC2'].unique())

8
[nan 'College Graduate or above'
 '9-11th Grade (Includes 12th grade with no diploma)'
 'High School Grad/GED or Equivalent' 'Some College or AA degree'
 'Less Than 9th Grade' "Don't Know" 'Refused']

In [32]:
print(len(demo['DMDSCHOL'].unique()))
print(demo['DMDSCHOL'].unique())

35
[nan 'In school' 'Neither  ' 'On vacation from school (between grades)'
 'Neither' '  On vacation from school (between grades)' ' Neither'
 '  In school' 'In school  ' ' In school'
 'On vacation from school (between grades) ' 'In school '
 'Neither in school or on vacation from school (between grades)'
 ' In school ' 'Neither ' ' On vacation from school (between grades)'
 'On vacation from school (between grades)  '
 ' On vacation from school (between grades) ' ' In school  ' '  Neither '
 '  Neither'
 'Neither in school or on vacation from school (between grades) '
 '  In school '
 ' Neither in school or on vacation from school (between grades)'
 ' Neither  ' ' On vacation from school (between grades)  '
 '  On vacation from school (between grades) '
 'Neither in school or on vacation from school (between grades)  '
 '  Neither  '
 '  Neither in school or on vacation from school (between grades)  '
 '  In school  ' ' Neither '
 '  Neither in school or on vacation from school (between grades)'
 "Don't Know"
 'Neither in school or on vacation frm school (between grades)']

In [33]:
demo.loc[:,'DMDSCHOL'] = demo.loc[:,'DMDSCHOL'].str.strip()
print(len(demo['DMDSCHOL'].unique()))
print(demo['DMDSCHOL'].unique())

7
[nan 'In school' 'Neither' 'On vacation from school (between grades)'
 'Neither in school or on vacation from school (between grades)'
 "Don't Know"
 'Neither in school or on vacation frm school (between grades)']

In [34]:
replace_dict = {'DMDSCHOL': {
                              "Neither in school or on vacation frm school (between grades)":"Neither in school or on vacation from school (between grades)"
                            }
               }

demo.replace(replace_dict, inplace=True)

print(len(demo['DMDSCHOL'].unique()))
print(demo['DMDSCHOL'].unique())

6
[nan 'In school' 'Neither' 'On vacation from school (between grades)'
 'Neither in school or on vacation from school (between grades)'
 "Don't Know"]

In [35]:
print(len(demo['DMDMARTL'].unique()))
print(demo['DMDMARTL'].unique())

50
[nan '  Married' 'Never married' 'Married' 'Separated' 'Never married  '
 'Divorced' 'Widowed' 'Living with partner' 'Never married ' 'Widowed '
 ' Widowed' 'Married ' '  Never married' ' Divorced' ' Never married '
 ' Married' '  Separated' 'Divorced ' 'Divorced  ' ' Never married'
 'Married  ' '  Widowed' '  Married ' ' Living with partner' '  Divorced'
 'Widowed  ' 'Living with partner ' ' Separated' '  Married  '
 '  Never married  ' 'Refused' ' Separated  ' ' Married ' ' Divorced '
 'Separated ' '  Widowed ' ' Married  ' 'Separated  '
 '  Living with partner' ' Never married  ' 'Living with partner  '
 ' Living with partner ' ' Widowed ' '  Widowed  ' '  Never married '
 ' Widowed  ' ' Separated ' "Don't Know" " Don't Know"]

In [36]:
demo.loc[:,'DMDMARTL'] = demo.loc[:,'DMDMARTL'].str.strip()
print(len(demo['DMDMARTL'].unique()))
print(demo['DMDMARTL'].unique())

9
[nan 'Married' 'Never married' 'Separated' 'Divorced' 'Widowed'
 'Living with partner' 'Refused' "Don't Know"]

Save data files
---

In [40]:
demo.to_csv('Demographics.csv', index=False)

In [38]:
print(len(demo['DMDCITZN'].unique()))
print(demo['DMDCITZN'].unique())

5
['Citizen by birth or naturalization' 'Not a citizen of the US' 'Refused'
 "Don't know" nan]