Import the Pandas and Numpy libraries and load in the data file
---

In [11]:
import pandas as pd
import numpy as np

demo = pd.read_csv('Demographics.csv')

Merge the two education columns
---

New Education Coding:

| Code | Meaning |
|---|---|
| 1 | Less Than High School |
| 2 | High School Diploma (including GED) |
| 3 | More Than High School |
| 7 | Refused |
| 9 | Don't know |

In [12]:
demo.loc[:,['DMDEDUC3']].dtypes

DMDEDUC3    float64
dtype: object

In [13]:
demo['DMDEDUC3'].unique()

array([nan,  3., 15.,  5.,  8., 13.,  7., 11.,  1.,  9.,  6.,  0., 12.,
       10.,  4.,  2., 14., 66., 55., 77., 99.])

In [9]:
demo['DMDEDUC3'] = demo['DMDEDUC3'].astype(np.float64)

ValueError: could not convert string to float: '3rd Grade'

In [14]:
demo.loc[:,'EDUCATION'] = np.nan

index = (demo['DMDEDUC3'] < 13) | (demo['DMDEDUC3'] == 55) | (demo['DMDEDUC3'] == 66)
demo.loc[index, 'EDUCATION'] = 1

index = (demo['DMDEDUC3'] == 13) | (demo['DMDEDUC3'] == 14) 
demo.loc[index, 'EDUCATION'] = 2

index = (demo['DMDEDUC3'] == 15)
demo.loc[index, 'EDUCATION'] = 3

index = (demo['DMDEDUC3'] == 77)
demo.loc[index, 'EDUCATION'] = 7

index = (demo['DMDEDUC3'] == 99)
demo.loc[index, 'EDUCATION'] = 9

In [15]:
index = (demo['DMDEDUC2'] <= 2)
demo.loc[index, 'EDUCATION'] = 1

index = (demo['DMDEDUC2'] == 3)
demo.loc[index, 'EDUCATION'] = 2

index = (demo['DMDEDUC2'] == 4) | (demo['DMDEDUC2'] == 5)
demo.loc[index, 'EDUCATION'] = 3

index = (demo['DMDEDUC2'] == 7)
demo.loc[index, 'EDUCATION'] = 7

index = (demo['DMDEDUC2'] == 9)
demo.loc[index, 'EDUCATION'] = 9

In [16]:
demo.drop('DMDEDUC2', axis=1, inplace=True)
demo.drop('DMDEDUC3', axis=1, inplace=True)

demo.describe()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52,EDUCATION
count,10586.000000,10375.0,10377.000000,9666.000000,10375.000000,10377.000000,10199.000000,9523.000000,10377.000000,10378.000000,...,10375.000000,10375.000000,10375.000000,10375.000000,10375.000000,10375.000000,10378.000000,10378.000000,10378.000000,8757.000000
mean,4988.601833,1.0,1.930616,1.578316,1.510169,29.701262,350.151289,345.017957,2.565385,2.238293,...,27262.634781,27254.050699,27292.018643,27332.732228,27294.538724,27289.947031,27316.319076,27309.103507,27275.031006,1.645541
std,2881.766130,0.0,0.254119,0.493854,0.499921,24.894062,286.460814,282.898586,1.268194,1.134821,...,30532.200228,30965.248224,30773.201867,30704.771626,30126.873213,30333.994776,30382.665279,30833.111259,30440.720487,0.916061
min,1.000000,1.0,1.000000,1.000000,1.000000,-69.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2490.250000,1.0,2.000000,1.000000,1.000000,11.000000,130.000000,129.000000,1.000000,1.000000,...,5825.399910,5735.609230,5803.552459,5823.602951,5984.731946,5887.112966,5908.787800,5812.202275,5791.221946,1.000000
50%,4987.000000,1.0,2.000000,2.000000,2.000000,19.000000,231.000000,229.000000,3.000000,2.000000,...,13125.056383,12602.772205,13053.877621,13179.998615,13405.471918,13272.273365,13479.283290,13078.262881,13483.749560,1.000000
75%,7490.750000,1.0,2.000000,2.000000,2.000000,48.000000,560.500000,549.000000,4.000000,3.000000,...,39342.944279,39951.418727,39771.643664,39839.701043,39474.064714,39883.193311,39115.824760,39386.954612,39786.020191,2.000000
max,9965.000000,1.0,2.000000,2.000000,2.000000,109.000000,1019.000000,1019.000000,5.000000,5.000000,...,237571.751507,235750.381473,241834.327204,232738.992025,237147.546794,237076.103694,238360.240849,236648.979858,236964.160656,9.000000

Save The Data
---

In [ ]:
# demo.to_csv('Demographics.csv', index=False)